<div class="card">
  <div class="card-header">
    <h3 class="card-title">Users</h3>
    <div class="card-options">
      <%= link_to '<i class="fe fe-plus"></i> Invite User'.html_safe, new_user_invitation_path, class: 'btn btn-primary', style: 'color: white' %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table card-table table-striped table-vcenter">
      <thead>
        <tr>
          <th colspan="2">User</th>
          <th>Status</th>
          <th>Last Login</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td class="w-1">
            <span class="avatar">
              <%= image_tag user.gravatar_url, class: 'avatar' %>
            </span>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <% if user.invited_to_sign_up? %>
                Invite Pending
            <% elsif user == current_user %>
              <%= user.role %>
            <% else %>
              <div class="form-group" style="width: 200px; margin: 10px -10px;">
                <select class="custom-select role" data-id="<%= user.id %>">
                  <option>User</option>
                  <option <%= 'selected' if user.admin? && !user.platform_admin? %>>Admin</option>
                  <% if current_user.platform_admin? %>
                    <option <%= 'selected' if user.platform_admin? %>>Platform Admin</option>
                  <% end %>
                </select>
              </div>
            <% end %>
          </td>
          <td class="text-nowrap"><%= user.updated_at %></td>
          <td class="w-1">
            <%= link_to '<i class="fe fe-trash"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } unless user == current_user %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    $( ".role" ).change(function(element) {
        var id = $(element.currentTarget).data("id");
        var role = $(element.currentTarget ).val();
        var data = {
            admin: role == 'Admin',
            platform_admin: role == 'Platform Admin',
        };
        $.ajax({
            url : '/users/' + id + '.json',
            data : JSON.stringify({user: data}),
            type : 'PATCH',
            contentType : 'application/json',
            dataType: 'json',
            success: function () {
                window.location.reload();
            }
        });
    });
</script>