<h2 class="title is-1"><%= @slack_setting.project.try(:name) %></h2>
<h2 class="subtitle">Slack Settings</h2>


<div class="actions">
  <%= link_to 'Disable Notifications', @slack_setting, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
</div>

<%= render 'form', slack_setting: @slack_setting %>
