<h1 class="title is-1">Projects</h1>
<%= link_to 'New Project', new_project_path, class: 'button is-success create-button' %>

<br>

<div class="columns projects">
  <% @projects.each do |project| %>
    <div class="card column is-one-quarter">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"><%= link_to project.name, project %></p>
          </div>
        </div>

        <div class="content">
          <% project.sites.each do |site| %>
            <span class="tag <%= site.active? ? 'is-success' : 'is-danger' %>">
              <%= site.name %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
