<h1>Checks</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.status %></td>
        <td><%= check.site %></td>
        <td><%= link_to 'Show', check %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
