/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.hidden {
  display: none;
}

.content {
  margin-top: 20px;
}

th:last-child,
td:last-child, {
  text-align: right;
}

.sites-create-choice {
  font-weight: bold;
  cursor: pointer;
  color: #495057;

  span {
    font-weight: 100;
    font-size: 0.7rem
  }
}
.sites-create-choice:hover {
  border-color: rgba(58, 58, 58, 0.527) !important;
  text-decoration: none;
}

.sites-create-choice-link:hover {
  text-decoration: none;
}