
@font-face {
  font-family: "feather";
  src: font-url("feather-webfont.eot");
  /* IE9*/
  src: font-url("feather-webfont.eot") format("embedded-opentype"), url("feather-webfont.woff?t=1501841394106") format("woff"), url("feather-webfont.ttf?t=1501841394106") format("truetype"), url("feather-webfont.svg?t=1501841394106#feather") format("svg");
  /* iOS 4.1- */
}
