// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site-stats {
  text-align: center;
  margin-top: 20px;
  h1 {
    font-size: 18px;
  }

  p {
    margin-top: 20px;
    font-size: 24px;
  }
}

.new_site {
  width: 600px;
  margin: 0 auto;

}

.tabs ul {
  margin-left: 0;
  margin-right: 0;
}

.label {
  width: 150px;
}

.hidden {
  display: none;
}

.field.has-addons .control.is-expanded {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}



@media screen and (min-width: 769px), print {
  .field.is-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}


@media screen and (min-width: 769px), print {
  .field-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }

  .field-body .field:not(.is-narrow) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.field {
  margin-bottom: 20px;
}

.success-in-label {
  .is-light::after {
    content: 'Unknown';
  }

  .is-success::after {
    content: 'Active';
  }

  .is-danger::after {
    content: 'Down'
  }
}