<div class="card">
  <div class="card-header">
    <h3 class="card-title">Create Check</h3>
  </div>
  <div class="card-body">

    <%= form_for(site) do |f| %>

      <div class="form-group">
        <label class="form-label">Name of Site<span class="form-required">*</span></label>
        <input type="text" class="form-control" name="site[name]" autofocus />
      </div>

      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-tab="required">Required</a></li>
        <li class="nav-item"><a class="nav-link" data-tab="optional">Optional</a></li>
      </ul>

      <br>

      <div id="required" class="tab-content">

        <label class="form-label">URL<span class="form-required">*</span></label>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <select name="site[protocol]" class="btn btn-secondary dropdown-toggle" style="background: transparent; border: 0; box-shadow: none; -moz-appearance:none;appearance:none;">
                <option>https://</option>
                <option>http://</option>
              </select>
            </div>
          </div>
          <input class="form-control" type="text" name="site[url]">
        </div>

      </div>

      <div id="optional" class="tab-content hidden">

        <div class="form-group">
          <label class="form-label">Expected Status Code</label>
          <input class="form-control" type="number" min="1" max="65535" name="site[custom_status]">
        </div>

        <div class="form-group">
          <label class="form-label">Verify SSL</label>
          <label class="custom-switch">
            <input name="custom-switch-checkbox" class="custom-switch-input" type="checkbox" checked>
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description">Yes</span>
          </label>
        </div>

        <div class="form-group">
          <label class="form-label">Basic Auth</label>

          <div class="row">
            <div class="col">
              <input class="form-control" type="text" placeholder="Username" name="site[basic_auth_username]">
            </div>
            <div class="col">
              <input class="form-control" type="text" placeholder="Password" name="site[basic_auth_password]">
            </div>
          </div>
        </div>

      </div>

      <%= f.hidden_field(:project_id, value: site.project_id) %>

      <br>

      <button type="submit" class="btn btn-primary">Save</button>
    <% end %>

  </div>
</div>
