<!DOCTYPE html>
<html>
  <head>
    <title>Juno</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if @no_checks && user_signed_in? %>
      <div class="alert alert-warning">
        No checks have ran in last two minutes, background workers may be disconnected.
      </div>
    <% end %>

    <% if notice %>
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"></button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"></button>
        <%= alert %>
      </div>
    <% end %>

    <div class="content container">
      <%= yield %>
    </div>
  </body>
</html>
